:root {
    --white: #fff;

	--orange-hover: #cf3901;
	--orange-100: #ea3f00;
	--orange-80: #ee6533;
	--orange-50: #f49f80;
	--orange-30: #f9c5b3;
	--orange-20: #fbd9cc;
	--orange-10: #fdece6;
	--orange-5: #fef5f2;

	--black-100: #000;
	--black-80: #333;
	--black-60: #666;
	--black-40: #999;
	--black-20: #ccc;
	--black-10: #e6e6e6;
	--black-5: #f2f2f2;

    --black-transparent: rgba(19,24,27,.92);
    --black-transparent-60: rgba(19,24,27,.62);

	--gray-100: #999;
	--gray-60: #c2c2c2;
	--gray-40: #d6d6d6;
	--gray-20: #ebebeb;
	--gray-10: #f5f5f5;
	--gray-5: #fbfbfb;

	--red-100: #d00042;
	--red-80: #d93368;
	--red-60: #e3668e;
	--red-40: #ec99b3;
	--red-20: #f6ccd9;

	--yellow-100: #f4a53d;
	--yellow-80: #f6b764;
	--yellow-60: #f8c98b;
	--yellow-40: #fbdbb1;
	--yellow-20: #fdedd8;

	--blue-100: #4743ff;
	--blue-80: #6c69ff;
	--blue-60: #a19ffc;
	--blue-40: #d1d0fe;
	--blue-20: #e9e9fe;
    
	--green-100: #04b769;
	--green-80: #43c98e;
	--green-60: #81dbb4;
	--green-40: #cdf1e1;
	--green-20: #ecfff9;
}
